@model dynamic

@{
    ViewBag.Title = "AppLabs";
}


<h1 style="color:ghostwhite ">App Labs</h1>
<div class="navbar navbar-inverse col-sm-12">

    <div class="navbar-collapse" data-toggle="collapse" style="font-size: large" data-target=".navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("App Labs", "Index", "AppLabs")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="font-size: large" data-toggle="dropdown">Level 1<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Flooring Calculator", "FlooringRequest", "Level1")</li>
                    <li>@Html.ActionLink("Leap Years", "LeapYearsRequest", "Level1")</li>
                    <li>@Html.ActionLink("Tip Calculator", "TipCalculator", "Level1")</li>
                    <li>@Html.ActionLink("Reverse String", "ReverseRequest", "Level1")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="font-size: large" data-toggle="dropdown">Level 2<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li></li>
                    <li>@Html.ActionLink("Fibonacci Sequence", "FibonacciRequest", "Level2")</li>
                    <li>@Html.ActionLink("Find Next Prime Number", "NextPrimeQuery", "Level2")</li>
                    <li>@Html.ActionLink("Count Characters", "CountCharacters", "Level2")</li>
                    <li></li>
                    <li>@Html.ActionLink("Palindromes", "PalindromeQuery", "Level2")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="font-size: large" data-toggle="dropdown">Level 3<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Common Denominator", "LcmRequest", "Level3")</li>
                    <li></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="font-size: large" data-toggle="dropdown">Level 4<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li></li>
                    <li></li>
                    <li>@Html.ActionLink("Pascals Triangle", "NumRowsRequest", "Level4")</li>
                    <li></li>
                    <li>@Html.ActionLink("Write Out Numbers", "ConvertRequest", "Level4")</li>
                </ul>
            </li>

        </ul>

    </div>
</div>

<div class="text-center">
    <div style="font-size: 20px" class="col-sm-4">These "App Labs" are assigned at the beginning of the program, and students work on them in their free time. The labs vary in difficulty and objective, but most are simple practice with algorithms and creating a user interface. There are about 25 to choose from.</div>
    <div class="col-sm-8">
        <img src="../../Pictures/measure.jpg"  /> 
    </div>
</div>

